# 1 - æ•°æ®åŠ è½½ä¸å­˜å‚¨

æ˜¯çš„ï¼Œå¸¸å¸¸è¢«å¿½ç•¥çš„ã€Œ<font color=#E36C07>**æ•°æ®åŠ è½½ä¸å­˜å‚¨**</font>ã€ä¹Ÿå¤§æœ‰é—¨é“ä¸”å€¼å¾—ä½œä¸ºæœ¬å¥—ä¹ é¢˜çš„å¼€é—¨ä¹‹ç« ã€‚

åœ¨ä¸€æ¬¡æ•°æ®åˆ†æçš„è¿‡ç¨‹ä¸­ï¼Œä½ å¯èƒ½åªä¼šè¯»å–æˆ–å­˜å‚¨ä¸€ä¸¤æ¬¡æ•°æ®é›†ã€‚

**ä½†è‹¥èƒ½çµæ´»æŒæ¡å„é¡¹è®¾ç½®ï¼Œåœ¨è¯»å–é˜¶æ®µå°±å°†æ•°æ®ç­›é€‰ã€åŒ¹é…ã€æ ¼å¼æŒ‡å®šç­‰æ“ä½œå®Œæˆï¼Œæœ‰æ—¶ä¼šä¸ºæˆ‘ä»¬èŠ‚çœå¤§é‡æ—¶é—´ã€‚**

åœ¨æœ¬èŠ‚ä¹ é¢˜ä¸­ï¼Œæˆ‘å°† pandas æ•°æ®åˆ†æä¸­å¸¸è§çš„æ•°æ®è¯»å–ä¸å­˜å‚¨æ“ä½œè¿›è¡Œæ•´ç†ã€‚

<font color=#E36C07>**æ—¢å¯ä»¥ç”¨äºå·©å›ºã€å­¦ä¹ å„ç§æ“ä½œï¼Œä¹Ÿå¯ä»¥ä½œä¸ºé€ŸæŸ¥æ‰‹å†Œä½¿ç”¨**</font>ã€‚

## 1-1 æ•°æ®è¯»å–

### 1 è¯»å– Excel 

<br>

- è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶

- è¯»å–å½“å‰ç›®å½•ä¸‹ `TOP250.xlsx` æ–‡ä»¶

**æ³¨æ„**ï¼šä½¿ç”¨ `pandas` è¯»å– `CSV` ä¸ è¯»å– `xlsx` æ ¼å¼çš„ `Excel` æ–‡ä»¶æ–¹æ³•å¤§è‡´ç›¸åŒ

å› æ­¤æ¥ä¸‹æ¥ä¸ `Excel` ç›¸å…³çš„æ“ä½œå‡ä»¥ `CSV` æ ¼å¼è¿›è¡Œå‡ºé¢˜ã€‚

In [3]:
import pandas as pd
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv")

### 2 è¯»å– Excel ï½œæŒ‡å®šä½ç½®

åœ¨å¤§å¤šæ•°æƒ…å†µä¸‹ï¼Œæˆ‘ä»¬ä¼šå°† `notebook` å’Œæ•°æ®æºæ–‡ä»¶æ”¾åœ¨åŒä¸€ä¸ªç›®å½•ï¼ˆæ–‡ä»¶å¤¹ä¸‹ï¼‰ï¼Œè¿™æ ·ç›´æ¥ä½¿ç”¨`pd.read_xxx("æ–‡ä»¶å")`å³å¯æˆåŠŸè¯»å–ã€‚
 
ä½†æœ‰æ—¶éœ€è¦è¯»å–çš„æ–‡ä»¶å’Œ `notebook` ä¸åœ¨åŒä¸€ä¸ªç›®å½•ä¸‹ï¼Œè¿™æ—¶å¯ä»¥ä½¿ç”¨ç»å¯¹è·¯å¾„æˆ–è€…ç›¸å¯¹æœ¬ `notebook` çš„è·¯å¾„ã€‚

ç°åœ¨è¯·è¯»å–æœ¬å¥—ä¹ é¢˜ä¸­ç¬¬äºŒç« èŠ‚ä¸‹çš„æ•°æ®ï¼Œå³ `2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv`

In [2]:
data = pd.read_csv("../02 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv")

###  3 è¯»å– Excel ï½œæŒ‡å®šè¡Œï¼ˆé¡ºåºï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ <font color = '#5F5FFC'>å‰20è¡Œ</font>

In [5]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    nrows=20
)

###  4 è¯»å– Excel ï½œæŒ‡å®šè¡Œï¼ˆè·³è¿‡ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶å¹¶<font color = '#5F5FFC'>è·³è¿‡å‰20è¡Œ</font>

In [7]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    skiprows= 20
)

###  5 è¯»å– Excel ï½œæŒ‡å®šè¡Œï¼ˆæ¡ä»¶ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ä¸­å…¨éƒ¨<font color = '#5F5FFC'>å¶æ•°è¡Œ</font>

æ€è€ƒï¼šå¦‚æœæ˜¯è¯»å–å…¨éƒ¨å¥‡æ•°è¡Œï¼Œæˆ–è€…æ›´å¤šæ»¡è¶³æŒ‡å®šæ¡ä»¶çš„è¡Œå‘¢ï¼Ÿ

In [23]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    skiprows = lambda: not x%2
)

### 6 è¯»å– Excel ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—å·ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—å·è¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ç¬¬ `1ã€3ã€5` åˆ—

In [11]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    usecols = [0,2,4]
)

###  7 è¯»å– Excel ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—åï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—åè¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—

In [14]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    usecols = ['positionId',
               'positionName',
               'salary']
)
data.head()

   positionId positionName  salary
0     6802721         æ•°æ®åˆ†æ   37500
1     5204912         æ•°æ®å»ºæ¨¡   15000
2     6877668         æ•°æ®åˆ†æ    3500
3     6496141         æ•°æ®åˆ†æ   45000
4     6467417         æ•°æ®åˆ†æ   30000

###  8 è¯»å– Excel ï½œæŒ‡å®šåˆ—ï¼ˆåŒ¹é…ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—ååŒ¹é…è¯»å–**

è®©æˆ‘ä»¬æ¥ä¸ªæ›´éš¾ä¸€ç‚¹çš„ï¼Œè¿˜æ˜¯è¯»å– `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œä½†ç°åœ¨æœ‰ä¸€ä¸ª list ä¸­åŒ…å«å¤šä¸ªå­—æ®µğŸ‘‡

`usecols = ['positionId','test','positionName', 'test1','salary']`

å¦‚æœ `usecols` ä¸­çš„åˆ—åå­˜åœ¨äº `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` ä¸­ï¼Œåˆ™è¯»å–ã€‚

In [22]:
cols = ['positionId','test',
        'positionName', 'test1',
        'salary']
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    usecols=lambda x: x in cols
)

### 9 è¯»å– Excel ï½œæŒ‡å®šç´¢å¼•

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶åœ¨è¯»å–æ—¶å°† `positionId` è®¾ç½®ä¸ºç´¢å¼•åˆ—

In [46]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    index_col="positionId"
)

###  10 è¯»å– Excel ï½œæŒ‡å®šæ ‡é¢˜

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—ï¼Œå¹¶å°†æ ‡é¢˜è®¾ç½®ä¸º `IDã€å²—ä½åç§°ã€è–ªèµ„`

In [42]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    header=0, usecols=[0,1,17], 
    names=['ID','å²—ä½åç§°','è–ªèµ„']
)

###  11 è¯»å– Excel ï½œç¼ºå¤±å€¼è½¬æ¢

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶ä¸å°†ç¼ºå¤±å€¼æ ‡è®°ä¸º `NA`**

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¦è¿™æ ·åšï¼Ÿ

In [33]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    keep_default_na= False
)

###  12 è¯»å– Excel ï½œç¼ºå¤±å€¼æ ‡è®°

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶å°†`[]`æ ‡è®°ä¸ºç¼ºå¤±å€¼**

In [34]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    na_values= "[]"
)

### 13 è¯»å– Excel ï½œå¿½ç•¥ç¼ºå¤±å€¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**ä½†ä¸å¤„ç†ç¼ºå¤±å€¼**

æ€è€ƒï¼šå’Œä¹‹å‰çš„æœ‰ä»€ä¹ˆä¸åŒï¼Œä¸ºä»€ä¹ˆè¿™ä¹ˆåšï¼Ÿ

In [37]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    na_filter=False
)

### 14 è¯»å– Excel ï½œæŒ‡å®šæ ¼å¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `positionId,companyId` è®¾ç½®ä¸ºå­—ç¬¦ä¸²æ ¼å¼

In [41]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    dtype={'positionId':str, 
           'companyId':str}
)

### 15 è¯»å– Excel ï½œæ—¶é—´æ ¼å¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `createTime` åˆ—è®¾ç½®ä¸ºå­—ç¬¦ä¸²æ ¼å¼

In [49]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    parse_dates=["createTime"]
)

### 16 è¯»å– Excel ï½œåˆ†å—è¯»å–


<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œè¦æ±‚è¿”å›ä¸€ä¸ªå¯è¿­ä»£å¯¹è±¡ï¼Œæ¯æ¬¡è¯»å– 10 è¡Œ

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¿™æ ·åšï¼Ÿ

In [53]:
data = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", 
    chunksize=10
)

### 17 è¯»å– txt æ–‡ä»¶ï½œå¸¸è§„

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `Titanic.txt` æ–‡ä»¶ã€‚

æ³¨æ„ï¼šåœ¨æ¥ä¸‹æ¥çš„å‡ ç§æ ¼å¼æ–‡ä»¶è¯»å–ä¸­ï¼Œå¯¹äºä¹‹å‰é‡å¤çš„å‚æ•°/åŠŸèƒ½å°†ä¸å†æ•´ç†ï¼Œä»…ä»‹ç»è¯»å–åŠŸèƒ½ã€‚

In [5]:
data = pd.read_table(
    "./TOP250.txt", 
    sep="\t", 
    encoding="gbk"
)
data.head(1)

,ç‰‡å,ä¸Šæ˜ å¹´ä»½,è¯„åˆ†,è¯„ä»·äººæ•°,å¯¼æ¼”,ç¼–å‰§,ä¸»æ¼”,ç±»å‹,å›½å®¶/åœ°åŒº,è¯­è¨€,æ—¶é•¿(åˆ†é’Ÿ)
0,è‚–ç”³å…‹çš„æ•‘èµ,1994,9.7,2317937,å¼—å…°å…‹Â·å¾·æ‹‰é‚¦ç‰¹,å¼—å…°å…‹Â·å¾·æ‹‰é‚¦ç‰¹ / æ–¯è’‚èŠ¬Â·é‡‘,è’‚å§†Â·ç½—å®¾æ–¯ / æ‘©æ ¹Â·å¼—é‡Œæ›¼ / é²å‹ƒÂ·å†ˆé¡¿ / å¨å»‰å§†Â·èµ›å¾·å‹’ / å…‹å…°è¥¿Â·å¸ƒæœ— / å‰...,å‰§æƒ… / çŠ¯ç½ª,ç¾å›½,è‹±è¯­,142

### 19 è¯»å– JSON æ–‡ä»¶



<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸåŸºé‡‘æ•°æ®.json` æ–‡ä»¶ã€‚

In [59]:
data = pd.read_json("./æŸåŸºé‡‘æ•°æ®.json")
data.head()

         å‡€å€¼æ—¥æœŸ   å•ä½å‡€å€¼   ç´¯è®¡å‡€å€¼    æ—¥å¢é•¿ç‡  ç”³è´­çŠ¶æ€  èµå›çŠ¶æ€  åˆ†çº¢é€é…
0  2020-02-13  1.884  1.884  -0.11%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
1  2020-02-12  1.886  1.886   3.34%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
2  2020-02-11  1.825  1.825  -0.16%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
3  2020-02-10  1.828  1.828   1.33%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
4  2020-02-07  1.804  1.804   0.61%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN

### 22 ä» SQL è¯»å–æ•°æ®

<br>

æœ‰æ—¶æˆ‘ä»¬éœ€è¦ä» `SQL` ä¸­è¯»å–æ•°æ®ï¼Œå¦‚æœå…ˆå°†æ•°æ®å¯¼å‡ºå†`pandas`è¯»å–å¹¶ä¸æ˜¯ä¸€ä¸ªåˆé€‚çš„é€‰æ‹©ã€‚

åœ¨ `pandas` ä¸­æ”¯æŒç›´æ¥ä» `sql` ä¸­æŸ¥è¯¢å¹¶è¯»å–ã€‚

ä¸ºäº†æ–¹ä¾¿ç»Ÿä¸€æ“ä½œï¼Œè¯·å…ˆæ‰§è¡Œä¸‹é¢çš„ä»£ç åˆ›å»ºæ•°æ®ã€‚

In [65]:
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(
    data=[[0, '10/11/12'], 
          [1, '12/11/10']],
    columns=['int_column', 
             'date_column'])
df.to_sql('test_data', conn)

2

ä¸‹é¢å°† `SQL` è¯­å¥ `SELECT int_column, date_column FROM test_data` è½¬æ¢ä¸º `DataFrame`

In [123]:
pd.read_sql(
    'SELECT int_column, date_column FROM test_data', 
    conn)

   int_column date_column
0           0    10/11/12
1           1    12/11/10

### 24 å¾ªç¯è¯»å–æ•°æ®

<br>

åœ¨æœ¬å°èŠ‚ `demodata` æ–‡ä»¶å¤¹ä¸‹æœ‰å¤šä¸ª `Excel` æ–‡ä»¶ï¼Œè¦æ±‚ä¸€æ¬¡æ€§å¾ªç¯è¯»å–å…¨éƒ¨æ–‡ä»¶

In [ ]:
import os
path = 'demodata/'
filesnames = os.listdir(path)
filesnames = [f for f in filesnames if f.lower().endswith(".xlsx")]
df_list = []
for filename in filesnames:
    df_list.append(pd.read_excel(path + filename))

df = pd.concat(df_list)

## 1-2 æ•°æ®åˆ›å»º

<br>

é™¤äº†ç›´æ¥è¯»å–æœ¬åœ°æ–‡ä»¶ï¼Œå­¦ä¼šç›´æ¥åˆ›å»ºæ•°æ®æ¡†ä¹Ÿå¾ˆé‡è¦ï¼Œå¸¸è§äºæµ‹è¯•ä¸€äº›å‡½æ•°ï¼Œä¸‹é¢æ˜¯ä»å¸¸è§æ•°æ®ç»“æ„åˆ›å»ºæ•°æ®æ¡†çš„æ–¹æ³•æ•´ç†

### 25 ä»åˆ—è¡¨åˆ›å»º

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šåˆ—åä¸º`"æ—©èµ·Python"`

In [67]:
l = [1,2,3,4,5]

In [70]:
data = pd.DataFrame(l)
data.T

   0  1  2  3  4
0  1  2  3  4  5

### 26 ä»åˆ—è¡¨åˆ›å»ºï½œåµŒå¥—åˆ—è¡¨

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šè¡Œç´¢å¼•ä¸º`"å…¬ä¼—å·","æ—©èµ·Python"`

In [71]:
l = [[1,2,3],[4,5,6]]

In [73]:
data = pd.DataFrame(l)
data

   0  1  2
0  1  2  3
1  4  5  6

### 27 ä»å­—å…¸åˆ›å»º

æ‰§è¡Œä¸‹æ–¹ä»£ç ï¼Œå¹¶å°†å­—å…¸è½¬æ¢ä¸º`dataframe`

In [74]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], 
                     index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0],
                     index=["a", "b", "c", "d"]) }

In [77]:
data = pd.DataFrame(d)
data.T

       a    b    c    d
one  1.0  2.0  3.0  NaN
two  1.0  2.0  3.0  4.0

### 28 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šç´¢å¼•

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`

In [79]:
data = pd.DataFrame(
    d, 
    index={'d','b','a'}
)
data.head()

   one  two
b  2.0  2.0
a  1.0  1.0
d  NaN  4.0

### 29 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šåˆ—å

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`ï¼Œåˆ—åä¸º`"two", "three"`

In [82]:
data = pd.DataFrame(d, 
                    index={"d","b","a"}, 
                    columns=["two", "three"])
data.T

         b    a    d
two    2.0  1.0  4.0
three  NaN  NaN  NaN

### 30 ä»å­—å…¸åˆ›å»ºï½œå­—å…¸åˆ—è¡¨
<br>

å°†ä¸‹æ–¹åˆ—è¡¨å‹å­—å…¸è½¬æ¢ä¸º`dataframe`

æ€è€ƒï¼šå¦‚ä½•æŒ‡å®šè¡Œ/åˆ—ç´¢å¼•ï¼Ÿ

In [ ]:
d = [{"a": 1, "b": 2}, 
     {"a": 5, "b": 10, "c": 20}]

### 31 ä»é›†åˆåˆ›å»º

<br>

å°†ä¸‹é¢çš„å…ƒç»„è½¬æ¢ä¸º dataframe ä¸”è¡Œåˆ—ç´¢å¼•å‡ä¸º `1,2,3,4`

In [83]:
t =((1,0,0,0,),
    (2,3,0,0,),
    (4,5,6,0,),
    (7,8,9,10,))

In [85]:
data = pd.DataFrame(t)
data

   0  1  2   3
0  1  0  0   0
1  2  3  0   0
2  4  5  6   0
3  7  8  9  10

## 1-3 æ•°æ®å­˜å‚¨

### 32 ä¿å­˜ä¸º CSV

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

In [86]:
data = pd.read_csv(
    "æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",
    nrows = 20)

In [88]:
data.to_csv("test.csv")

### 33 ä¿å­˜ä¸º CSVï½œæŒ‡å®šåˆ—

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”åªä¿ç•™`positionNameã€salary`ä¸¤åˆ—

In [ ]:
data.to_csv(
    "out.csv",
    encoding = 'utf_8_sig',
    columns=['positionName',
             'salary']
)

### 34 ä¿å­˜ä¸º CSVï½œå–æ¶ˆç´¢å¼•

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”å–æ¶ˆæ¯ä¸€è¡Œçš„ç´¢å¼•

In [91]:
data.to_csv(
    "test.csv", 
    index=False, 
    encoding="utf-16"
)

### 35 ä¿å­˜ä¸º CSVï½œæ ‡è®°ç¼ºå¤±å€¼

<br>

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåœ¨ä¿å­˜çš„åŒæ—¶ï¼Œå°†ç¼ºå¤±å€¼æ ‡è®°ä¸º`'æ•°æ®ç¼ºå¤±'`

In [92]:
data.to_csv("test.csv", 
            na_rep="æ•°æ®ç¼ºå¤±")